.div_mask{
    background: linear-gradient(to bottom right, #027cffeb, #6ccbef3b);


    height:240px;
}
.div_image{
   background-image: url(../img/img3.jpg);
    height:240px;
    background-size: cover;
}
.converter_height{
    height:640px;
   
    width: 300px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    
}
.formpad{
    padding:20px;
    padding-top: 10px;
}
.my-round{
    
    height: 156px;
    width: 156px;
    border-radius: 100px;
}
.pad_top{
    padding-top: 40px;
}
.myselect{
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 2.9rem;
    line-height: 2.9rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 .94rem 0;
    padding: 0;
    display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-bottom: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}